spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/battleships
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: true
    show-sql: true